{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="p-5">
    <a href="{% url 'deposite_money' %}" class="btn btn-primary" role="button">Deposit Money</a>
</div>
{% endif %}


<div class="d-flex card m-2 justify-content-center w-100 align-items-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Price</th>
                <th scope="col">After Borrow Balance</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">Return Date</th>
                <th scope="col">Return Button</th>
            </tr>
        </thead>
        <tbody>

            {% for borrow in purchases %}
            <tr>
                <td>{{ borrow.book.id }}</td>
                <td>{{ borrow.book.title }}</td>
                <td>{{ borrow.book.borrowing_price }}</td>
                <td>{{ borrow.balance_after_transaction }}</td>

                <td>{{ borrow.borrrow_date }}</td>

                <td>{{ borrow.return_date|date:"Y-m-d H:i" }}</td>
                <td>
                    {% if not borrow.return_date %}
                    <a class="btn btn-outline-warning" href="{% url 'return_books' borrow.id %}">Return</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}